#main-header {
    background: $base-background-color;
    border-bottom: 2px solid #fff;
    text-align: center;
    padding: 14px 0;

    @include mq($bk-md) {
        text-align: center;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 100;
    }

    #logo {
        margin: 0;

        @include mq($bk-md) {
            float: left;
        }
    }
}

.icon-menu {
    position: absolute;
    top: 6px;
    right: 0;
    z-index: 1;
    color: #fff;
    @include font-size(1.6);
    cursor: pointer;

    @include mq($bk-md) {
        display: none;
    }
}

#primary-nav {
    display: none;

    @include mq($bk-md) {
        float: right;
        display: block;
    }

    ul {
        text-transform: uppercase;
        padding: 4px 0 0 0;
        margin: 0;
    }

    li {
        margin: 0 0 0 18px;

        &:before {
            content:"";
        }

        @include mq($bk-md) {
            float: left;
        }
    }

    a {
        color: #fff;

        &.invert {
            background: #fff;
            color: $action-color;
            border-radius: 3px;
            padding: 2px 6px;
        }
    }
}
